@charset "UTF-8";

/*importar fonte bebas do google*/

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor4);
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
}

header > p{
    color: white;
}

main {
    background-color: white;
}

nav {
    background-color: var(--cor5);
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
} 

main h2{
    font-family: var(--fonte-android);
}

footer {
    background-color: var(--cor5);
    color: white;
}