@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    
    background-color: #453f3c;
}

header{
    background-color: #5fb49c;
}

header > h1{
    padding: 10px;
    text-align: center;
}

i#burguer{
    background-color: #645c59;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover{
    background-color: rgb(223, 207, 207);
    color: black;
    cursor: pointer;
}

menu{
    display: none;
    
}

menu > ul{list-style: none;}

menu > ul > li > a{
    display: block;
    padding: 10px;
    border-top: 1px solid gray;

    text-align: center;
    text-decoration: none;
    background-color: #5c443b;

    color: white;
    
}

menu > ul > li > a:hover{
    background-color: #a36b56;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}