@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2A20C, #F28B0C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(165, 95, 10, 0.719);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(177, 28, 15, 0.658);
    color: #F22613
}

h2 {
    color: #9379F2;
}

p {
    text-align: justify;
}